 {% load staticfiles %}
 <!-- navbar -->
<header class="navbar navbar-inverse" role="banner">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
            <img class="logo" src="img/logo1.png" alt="logo" /> <b>Easy</b> Hour
        </a>
    </div>
 <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Inicio</a></li>
        <li ><a href="../view/signin.html">Iniciar sesion</a></li>
        <li class="active"><a href="../view/signup.html">Registro<span class="sr-only">(current)</span></a></li>
      </ul>
 </div>
</header>